[submodule "dotbot"]
	path = .dotbot/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule ".dotbot/plugins/dotbot-omnipkg"]
	path = .dotbot/plugins/dotbot-omnipkg
	url = https://github.com/code-maniac/dotbot-omnipkg
