[core]
    pager = delta
    hooksPath = .git/hooks

[interactive]
    diffFilter = delta --color-only

[delta]
	features = catppuccin-mocha

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[color]
    ui = true

[alias]
    st = status -sb
    co = checkout
    c = commit --short
    ci = commit --short
    p = push
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate --date=short

[include]
    path = .gitconfig_extra
	path = .config/delta/themes/catppuccin.gitconfig

[push]
	autoSetupRemote = true

[init]
	defaultBranch = main
